// PC
@media (min-width: 49rem) {
  .-mobile-header {
    display: none;
  }
  .-pc-header {
    display: block;
  }

  .-mobile {
    display: none !important;
  }

  .-pc {
    display: block !important;
  }
}

// 모바일
@media (max-width: 49rem - 0.01rem) {
  .-mobile {
    display: block !important;
  }

  .-pc {
    display: none !important;
  }

  .-pc-header {
    display: none;
  }
  .-mobile-header {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #303030;
    z-index: 1;
    //
    //.-mobile-header .site-title {
    //  font-family: "Abril Fatface", serif;
    //  font-weight: normal;
    //  font-size: 1.25rem;
    //  margin-top: 0;
    //  margin-bottom: 0.5rem;
    //}
  }

  .content {
    padding-top: 90px;
  }

  .page-title {
    display: none;
  }

  .-mobile-header a {
    color: white;
  }
  .-mobile-header a.active {
    font-weight: bold;
  }
  .-mobile-header nav > * {
    display: block;
    line-height: 1.75;

  }

  .-mobile-header a svg {
    fill: white;
  }

  .-mobile-header-sidebar-nav-links {
    text-align: left;
    padding-left: 45%;
  }

  .-sidebar-icon-links {
    display: flex;
  }

  .-sidebar-collapse {
    font-size: 0.85rem;
  }

  .-pagination-newer-div {
    margin-top: 0 !important;
  }
}