// PC
@media (min-width: 49rem) {
  .-mobile-header {
    display: none;
  }
  .-pc-header {
    display: block;
  }

  .-mobile {
    display: none !important;
  }

  .-pc {
    display: block !important;
  }

  .-container {
    padding-top : 160px;
  }

  .-top-header {
    background-color: white;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-left: 18rem;
    padding-right: 18rem;
    text-align: center;
    position: fixed;
    top: 0;
    width: 100%;
    transition: 0.2s;
    z-index: 1;
    border-bottom: 1px solid #eeeeee
  }

  .-top-header .-top-header-title{
    color: black;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
  }

  .-top-header .-top-header-meta{
    font-size: 1.5rem;
  }
}

// 모바일
@media (max-width: 49rem - 0.01rem) {
  .-mobile {
    display: block !important;
  }

  .-pc {
    display: none !important;
  }

  .-pc-header {
    display: none;
  }
  .-mobile-header {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #303030;
    z-index: 1;
    //
    //.-mobile-header .site-title {
    //  font-family: "Abril Fatface", serif;
    //  font-weight: normal;
    //  font-size: 1.25rem;
    //  margin-top: 0;
    //  margin-bottom: 0.5rem;
    //}
  }

  .-container {
    padding-top : 38px;
  }
  .content {
    padding-top: 90px;
  }

  .page-title {
    display: none;
  }

  .-mobile-header {
    z-index: 99;
  }

  .-mobile-header a {
    color: white;
  }
  .-mobile-header a.active {
    font-weight: bold;
  }
  .-mobile-header nav > * {
    display: block;
    line-height: 1.75;

  }

  .-mobile-header a svg {
    fill: white;
  }

  .-mobile-header-sidebar-nav-links {
    text-align: left;
    padding-left: 45%;
  }

  .-sidebar-icon-links {
    display: flex;
  }

  .-sidebar-collapse {
    font-size: 0.85rem;
  }

  .-pagination-newer-div {
    margin-top: 0 !important;
  }

  .-top-header {
    background-color: white;
    padding-top: 4.4rem;
    padding-bottom: 10px;
    text-align: center;
    position: fixed;
    top: 0;
    width: 100%;
    transition: 0.2s;
    z-index: 1;
    border-bottom: 1px solid #eeeeee
  }

  .-top-header .-top-header-title{
    color: black;
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
  }

  .-top-header .-top-header-meta{
    font-size: 0.8rem;
    margin-top: 0.2rem;
  }
}