.material-icons {
  vertical-align: middle;
}

.content {
  margin: 0 auto;
  width: 100%;
}

.-hand {
  cursor: pointer;
}

.-bold-hr {
  border-width: 5px;
}

.-box-list {
  border-radius: 10px;
  box-shadow: 0 5px 15px lightgrey;
  padding: 1.1em 1.35em;
  background-color: #F4F4F4;
}

.-box-list h4 {
  margin: 0;
  color: dodgerblue;
}

.-box-list small {
  font-size: 75%;
  color: #999;
  white-space: nowrap;
}

.-preview-list {

}

.-preview-list .-preview-list-title{
  font-weight: bold;
  font-size: 1rem;
  margin-bottom: 0.25rem;
}

.-preview-list .-preview-list-desc {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* 라인수 */
  -webkit-box-orient: vertical;
  word-wrap:break-word;
  line-height: 1.2em;
  height: 3.5em;  // line-height * -webkit-line-clamp 가 맞는데 모바일에서 약간 더 보이는 부분이 있어서 수정 3.6em -> 3.5em;
  font-size: 0.8rem;
  color: #6C6C6C;
}


// 포스팅 시 사용하는 박스 (자동 생성 code 형식은 스크롤이 생겨서 이를 없애기 위해)
.-box-in-post {
  padding: 2rem;
  margin-bottom: 0;
  font-size: .8rem;
  line-height: 1.4;
  background-color: #f9f9f9;
  border-radius: .5rem;
  max-width: 100%;
  margin-top: 0;
  font-family: $code-font-family;
  display: block;
  box-sizing: border-box;
}

.-box-in-post ul {
  list-style-type: none;
  padding-left: 2rem;
  margin-top: .5rem;
}

.-box-in-post ul > li:before {
  content: "- ";
  margin-left: -1.1em;
}

.-box-in-post ul:last-child {
  margin-bottom: 0;
}

.-tab {
  margin-left: 1rem;
}

// search-modal
#-search-modal-results {
  list-style-type: none;
  padding:0;
  color:black;
  text-align: center;
}

#-search-modal-results > li {
  border-radius: 10px;
  box-shadow: 0 5px 15px lightgrey;
  padding: 1.1em 1.35em;
  background-color: #F4F4F4;
  position: relative;
  text-align: start;
}

#-search-modal-results > hr {
  margin: 0.5rem 0;
}

.-after-hr:after {content:""; display:block; background:#EEEEEE; width:100%; height:1px; margin:1rem 0;}

.-as-hover:hover {
  background-color: #E9ECEF;
}