{% comment %}
    Dynamically generate list of links to all category pages
{% endcomment %}
{% assign pages_list = site.pages|sort:"sidebar_sort_order" %}
{% assign main_categorys = site.pages | map: "main_category" | uniq %}

{% for main_category in main_categorys %}
    {% if main_category != null %}
        <div id="-sidebar-accordion-{{ main_category }}">
            <div>
                <a class="category-link -hand -sidebar-main-category-link {% if page.main_category == main_category and page.url != '/' %}active {% endif %}"
                   id="-sidebar-accordion-heading-{{ main_category }}">
                    <div data-toggle="collapse" data-target="#-sidebar-collapse-{{ main_category }}"
                         aria-expanded="{% if page.main_category == '{{ main_category }}' %}true{% else %}false{% endif %}"
                         aria-controls="-sidebar-collapse-{{ main_category }}">
                        {{ main_category }} <i class="material-icons">
                            {% if page.main_category == main_category and page.url != '/' %}expand_more{% else %}expand_less{% endif %}
                        </i>
                    </div>
                </a>
                {% for node in pages_list %}
                    {% if node.main_category == main_category %}
                        {% assign categories_cnt = site.categories[node.title] %}
                        <!-- TODO: div에 href 달아서 링크 영역 확대 시키기 -->
                        <div id="-sidebar-collapse-{{ main_category }}"
                             class="-sidebar-collapse collapse {% if page.main_category == main_category and page.url != '/' %}show{% endif %}"
                             aria-labelledby="-sidebar-accordion-heading-{{ main_category }}"
                             data-parent="#-sidebar-accordion-{{ main_category }}">
                            <a class="category-link {% if page.url == node.url %}active{% endif %}"
                               href="{{ node.url | relative_url }}">
                                <i class="material-icons">chevron_right</i>{{ node.title }}
                                <small>({{ categories_cnt | size }})</small>
                            </a>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    {% endif %}
{% endfor %}
