{% comment %}
Dynamically generate list of links to all category pages
{% endcomment %}
{% assign pages_list = site.pages|sort:"sidebar_sort_order" %}
{% for node in pages_list %}
{% if node.title != null %}
{% if node.layout == "category" %}
<a class="category-link {% if page.url == node.url %} active{% endif %}"
   href="{{ node.url | relative_url }}">{{ node.title }}</a>
{% endif %}
{% endif %}
{% endfor %}
<div class="accordion" id="-sidebar-accordion-category">

    {% for node in pages_list %}
    {% if node.title != null %}
    {% if node.layout == "category"  %}

    <div class="card">
        <div class="card-header" id="-sidebar-accordion-heading-dev">
            <h2 class="mb-0">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#-sidebar-collapse-dev" aria-expanded="true" aria-controls="-sidebar-collapse-dev">
                    {{node.category}}
                </button>
            </h2>
        </div>

        <div id="-sidebar-collapse-dev" class="collapse" aria-labelledby="-sidebar-accordion-heading-dev" data-parent="#-sidebar-accordion-category">
            <div class="card-body">
                <a href="{{ node.url | relative_url }}" style="color: red;">{{node.category}} - {{ node.title }}</a>
            </div>
        </div>
    </div>
    {% endif %}
    {% endif %}
    {% endfor %}
</div>

