<meta name="title" content="
    {%- if page.title == "Home" -%}
        {{ site.title }}{% if site.tagline %} | {{ site.tagline }}{% endif %}
    {%- else -%}
        {{ page.title }} | {{ site.title }}
    {%- endif -%}
">

<meta name="keywords" content="
    {%- if page.tags -%}
        {%- for tag in page.tags -%}
            {%- if forloop.first != true -%}
                , {{ tag }}
            {%- else -%}
                {{ tag }}
            {%- endif -%}
        {%- endfor -%}
    {%- else -%}
        인시오, Incio, incio, Inci-o, inci-o, 개발자, 블로그
    {%- endif -%}
">

{% seo %}

<meta property="og:image" content="{{ site.url | absolute_url }}/assets/images/incio-og-logo.png">

<meta name="twitter:card" content="summary_large_image"/>
<meta name="twitter:url" content="{{ page.url | absolute_url }}"/>
<meta name="twitter:title" content="
    {%- if page.title == "Home" -%}
        {{ site.title }}{% if site.tagline %} | {{ site.tagline }}{% endif %}
    {%- else -%}
        {{ page.title }} | {{ site.title }}
    {%- endif -%}
">
<meta name="twitter:description" content="
    {%- if page.description != null -%}
        {{ page.description }}
    {%- else -%}
        {{ site.title }}
    {%- endif -%}
">
<meta name="twitter:image" content="{{ site.url | absolute_url }}/assets/images/incio-og-logo.png">
<meta name="twitter:image:alt" content="Incio's"/>

