<div id="sidebar" class="-pc-header">
    <header>
        <!--        <div class="site-title"> -->
        <!--            <a href="{{ '/' | relative_url }}"> -->
        <!--                {{ site.title }} -->
        <!--            </a> -->
        <!--        </div> -->
        <!--        <p class="lead">{{ site.description }}</p> -->
        <div class="-as-anchor -hand" style="margin: auto;" data-href="{{ "/" | relative_url }}">
            <img src="/assets/images/incio-logo.png" alt="logo-pc">
        </div>
    </header>
    {% include sidebar-nav-links.html %}
    {% include sidebar-icon-links.html %}
    {% if site.version %}
        <p>
            <span class="site-version" style="font-size: 0.8rem;">Currently v{{ site.version }}</span>
        </p>
    {% endif %}
    {% include copyright.html %}
</div>
<div class="-mobile-header">
    <header>
        <nav class="navbar navbar-dark">
            <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="-as-anchor -hand" style="margin: auto;" data-href="{{ "/" | relative_url }}">
                <img src="/assets/images/incio-logo-sub.png" style="width: 60px; margin:0;" alt="logo-mobile">
            </div>
            <div class="-hand" style="width: 56px; text-align: center;" data-toggle="modal"
                 data-target="#-search-modal">
                <i class="material-icons" style="color: yellow">
                    search
                </i>
            </div>
        </nav>
        <div class="collapse" id="navbarToggleExternalContent">
            <div>
                <div class="-mobile-header-sidebar-nav-links">
                    {% include sidebar-nav-links.html %}
                </div>
                {% include sidebar-icon-links.html %}

                {% if site.version %}
                    <p><span class="site-version" style="font-size: 0.8rem;">Currently v{{ site.version }}</span></p>
                {% endif %}

                {% include copyright.html %}
            </div>
        </div>
    </header>
</div>

