@media (min-width: 480px) {
  .-mobile-header {
    display: none;
  }
  .-pc-header {
    display: block;
  }
}

@media (max-width: 480px) {
  .-pc-header{
    display:none;
  }
  .-mobile-header {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #303030;
    //
    //.-mobile-header .site-title {
    //  font-family: "Abril Fatface", serif;
    //  font-weight: normal;
    //  font-size: 1.25rem;
    //  margin-top: 0;
    //  margin-bottom: 0.5rem;
    //}
  }
}