---
layout: page
---

<!--{% unless page.content == '' %}
    {{ content }}
{% endunless %}-->

<ul class="posts-list -category-posts-list">
    {% assign category = page.category | default: page.title %}
    {% for post in site.categories[category] %}
        {% if post.released == False %}
            <li class="-as-anchor -preview-list -after-hr" data-href="{{ post.url | relative_url }}">
                <div class="-preview-list-title">{{ post.title }}</div>
                <div class="-preview-list-desc">{{ post.content | strip_html}}</div>
                <div class="-preview-list-meta"><small>{{ post.date | date: "%Y-%m-%d" }}</small></div>
            </li>
        {% endif %}
    {% endfor %}
</ul>

<div class="-pagination">
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-end -category-pagination">
        </ul>
    </nav>
</div>