---
layout: page
---

<!--{% unless page.content == '' %}
    {{ content }}
{% endunless %}-->


<ul id="static-pagination-list" class="posts-list"></ul>

<div class="-pagination">
    <nav aria-label="Page navigation">
        <ul id="static-pagination" class="pagination justify-content-end">
        </ul>
    </nav>
</div>

<script src="/assets/js/static-pagination.js"></script>
<script>
    let category_list = [];
    {% assign category = page.category | default: page.title %}
    {% for post in site.categories[category] %}
        {% if post.released == False %}
            category_list.push(
                {
                    'url': '{{ post.url | relative_url }}',
                    'title': '{{ post.title }}',
                    'content': '{{ post.content | strip_html | strip_newlines }}',
                    'date': '{{ post.date | date: "%Y-%m-%d" }}'
                }
            );
        {% endif %}
    {% endfor %}

    staticPagination(category_list, {
        perPage: 5
    });
</script>