---
layout: page
---

<!--{% unless page.content == '' %}
    {{ content }}
{% endunless %}-->

<hr class="-bold-hr">
<ul class="posts-list">
    {% assign category = page.category | default: page.title %}
    {% for post in site.categories[category] %}
        {% if post.released == False %}
        <li>
            <div class="-as-anchor -list-box" data-href="{{ post.url | relative_url }}">
                <h4>
                    {{ post.title }}
                </h4>
                <small>{{ post.date | date: "%Y-%m-%d" }}</small>
            </div>
            <hr class="mt-3 mb-3">
        </li>
        {% endif %}
    {% endfor %}
</ul>
