<!DOCTYPE html>
<html lang="ko-KR">
    {% include head.html %}

    <body class="{{ page.layout }}{% if page.url == '/' %} home{% endif %}">

    {% include sidebar.html %}

    {% include search-modal.html %}
    <div class="-top-header">
        <span class="-top-header-title">{{ page.title }}</span>
        <div class="-top-header-meta">{% include post-meta.html post=page %}</div>
    </div>
    <main class="-container">
        {{ content }}
    </main>

    {% include custom-foot.html %}

    </body>
</html>
