---
layout: default
---

<div class="content">
    {% include pagination-newer.html %}

    {{ content }}
    <ul class="posts-list">
    {% for post in paginator.posts %}
        {% if post.released == False %}
        <li>
            <div class="-as-anchor -list-box" data-href="{{ post.url | relative_url }}">
                <h4>
                    {{ post.title }}
                </h4>
                <small>{% include post-meta.html post=post %}</small>
            </div>
            <hr>
        </li>

        {% endif %}
    {% endfor %}
    </ul>
    {% include pagination-older.html %}
</div>